.contact {
  background-color: #121212;
  color: #f5f5f5;
  text-align: center;
  padding: 80px 20px;
}

.contact h2 {
  color: #ffcc00;
  margin-bottom: 2px;
  font-size: 2rem;
}

.contact-info {
  font-size: 1.1rem;
  margin-bottom: 2px;
  color: #ddd;
  line-height: 1.6;
}

.contact-btn {
  background-color: #ffcc00;
  color: #121212;
  border: none;
  padding: 12px 35px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px; 
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #ffd633;
  transform: scale(1.05);
}


