.home {
  background-image: url("../assets/malem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.50);
  padding: 50px;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  max-width: 700px;
  animation: slide-up 1s ease forwards;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease forwards;
}
.delay-1 { animation-delay: 0.3s; }
.delay-2 { animation-delay: 0.6s; }
.delay-3 { animation-delay: 0.9s; }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* teks */
h2 {
  font-size: 2.5rem;
  margin: 20px 0 10px;
  color: #fbe3df;
}

p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #fefefe;
}

.btn-yellow {
  display: inline-block;
  background-color: #ae5f5b;
  color: #121212;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-yellow:hover {
  background-color: #dcaca4;
  transform: scale(1.05);
}
